<!-- wp:template-part {"slug":"header","tagName":"header","className":"hch-header"} /-->

<!-- wp:group {"tagName":"main","className":"hch-main","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group hch-main">

	<!-- wp:hch/brand-filter /-->

	<!-- wp:hch/category-bar /-->

	<!-- wp:hch/category-sections {"perSection":24,"showViewAll":false,"hideEmpty":true} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"hch-footer"} /-->
