<!-- wp:template-part {"slug":"header","tagName":"header","className":"hch-header"} /-->

<!-- wp:group {"tagName":"main","className":"hch-main hch-page-content","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group hch-main hch-page-content">
	<!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"24px"}}}} /-->
	<!-- wp:post-title {"level":1,"className":"hch-page-title"} /-->
	<!-- wp:group {"className":"hch-post-meta","layout":{"type":"flex","flexWrap":"nowrap"}} -->
	<div class="wp-block-group hch-post-meta">
		<!-- wp:post-date /-->
		<!-- wp:post-author {"showAvatar":false} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	<!-- wp:post-tags /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"hch-footer"} /-->
